@inject IConfiguration Configuration
@{
  Layout = "_Layout";
}

<div class="container p-4">

  <h1>Welcome to the fictional ACME corporation</h1>
  <p>Bacon ipsum dolor amet t-bone turducken chuck bresaola spare ribs.  Porchetta beef jowl tongue capicola, biltong rump frankfurter cow pork landjaeger kielbasa tenderloin.  Pork chop landjaeger venison burgdoggen ham hock turducken frankfurter ground round.  Bacon pork chop beef pork jowl, pancetta picanha ham hock t-bone frankfurter doner.  Short loin andouille sausage salami jerky tri-tip pork loin, buffalo drumstick spare ribs ground round pig.  Jerky bacon tri-tip leberkas, flank frankfurter sirloin meatloaf turducken beef sausage chuck tail swine meatball.</p>
  <p>Shoulder jowl venison short loin sausage chislic doner.  Sausage turducken pancetta drumstick beef ribs shank.  Short ribs meatloaf pork belly swine shankle.  Ham pig jerky shoulder kielbasa venison pork loin.</p>
  <p>Ball tip pancetta fatback spare ribs, burgdoggen filet mignon prosciutto jowl swine shankle drumstick.  Drumstick fatback ribeye, frankfurter jerky tongue rump chicken.  Cupim flank jowl capicola, boudin picanha t-bone tongue chuck burgdoggen pastrami.  Hamburger pork loin sirloin ribeye.  Shoulder pig filet mignon cow fatback salami meatball doner chicken sausage.  Pork chop ground round kevin drumstick beef ribs pancetta beef tenderloin shank kielbasa flank sausage.</p>
  <p>Sirloin capicola turkey, tail andouille bresaola venison doner.  Ribeye biltong beef swine sausage doner.  Alcatra cupim ham short loin, tenderloin pork chop rump.  Cow strip steak pork loin, tenderloin sausage landjaeger shoulder hamburger buffalo tongue ball tip short loin frankfurter brisket.  Hamburger ribeye corned beef, tongue bresaola pork ball tip brisket leberkas tenderloin ground round biltong drumstick cow.</p>
  <p>Ham brisket jowl capicola beef ribs shoulder tail tri-tip chicken picanha.  Drumstick hamburger pork doner, meatball t-bone andouille sirloin bacon.  Biltong pork prosciutto venison, kielbasa beef ribs picanha chislic shoulder tail ham hock cow kevin.  Pastrami leberkas ground round sirloin buffalo spare ribs.  Corned beef pork belly salami hamburger sausage doner.  T-bone short ribs shank pork loin cow meatball salami.</p>
</div>

