@model EditSettingsModel
@{
  ViewBag.Title = "Edit settings";
}

<div class="container p-4">

  <form asp-action="@nameof(UsersController.Settings)" method="post" autocomplete="off" novalidate>
    <fieldset>
      <legend class="text-center">@ViewBag.Title</legend>
      <div class="row g-3">

        <div class="col-12">
          <label asp-for="TimeZone" class="form-label"></label>
          <select asp-for="TimeZone" asp-items="Model.TimeZones" class=" form-control">

          </select>
          <span asp-description-for="TimeZone" class="form-text"></span>
        </div>

        <div class="col-12">
          <button type="submit" class="btn btn-primary">Save</button>
          <a asp-action="@nameof(HomeController.Index)" class="btn btn-link">Cancel</a>
        </div>
      </div>
    </fieldset>
  </form>

</div>
